/* ----- Sidebar ----- */
#sidebar-top > * {
    border-radius: 40%;
    transition: 0.4s;
}

#sidebar-top:hover > #sidebar-profilepic {
    border-radius: 15%;
    transform: scale(1.1);
}

/* moves the text a bit to the right when pfp expands*/
#sidebar-top:hover > #sidebar-name {
    transform: translate(5%, 0);
}


/* ----- Sidebar buttons ----- */
.nav-link {
    transition: 0.2s;
}
.nav-link:hover {
    transform: scale(106%) translate(0%, 0);
}
